.post-tag {
    display: inline-block;
    background: #8f5536;
    padding: 0 .5rem;
    margin-right: .5rem;
    margin-bottom: .25rem;
    border-radius: 4px;
    color: #ffffff !important;
    font-size: 90%;
    text-transform: capitalize;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.post-tag::before {
    content: "\f02b";
    font-family: FontAwesome;
}

.inline-tag {
    display: inline-block;
    background: #8f5536;
    padding: 0 .5rem;
    margin-right: .25rem;
    border-radius: 4px;
    font-size: 70%;
    color: #ffffff !important;
    text-transform: capitalize;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.inline-tag::before {
    content: "\f02b";
    font-family: FontAwesome;
}

.post-date-inline {
    display: inline-block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

.post-link {
    display: block;
}

small {
    font-size: 15px;
    color: #9a9a9a;
}

a {
    text-decoration: none !important;
}

.home-post {
    margin-bottom: 0;
    border-top: 1px dashed #868e96;
    padding: 1em 0;
}

.read-more {
    display: block;
    text-decoration: underline !important;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 14px;
}

.home-post:first-child {
    border-top: 0;
    padding-top: 0;
}

.post-footer-item {
    margin: 0;
    font-size: 15px;
    color: #515151 !important;
}

.post-footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.profile-logo {
    border-radius: 50%;
}
