.post-tag {
    display: inline-block;
    background: #8f5536;
    padding: 0 .5rem;
    margin-right: .5rem;
    margin-bottom: .25rem;
    border-radius: 4px;
    color: #ffffff !important;
    font-size: 90%;
    text-transform: capitalize;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.post-tag::before {
    content: "\f02b";
    font-family: FontAwesome;
}

.tag {
    display: inline-block;
    background: #9a9a9a;
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    font-size: 60%;
    color: #ffffff !important;
    text-transform: capitalize;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.tag::before {
    content: "\f02b";
    font-family: FontAwesome;
}

.post-link {
    display: block;
}

small {
    font-size: 15px;
    color: #9a9a9a;
}

a {
    text-decoration: none !important;
}
