<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="author" content="Jitendra Singh Bisht">
  {% include seo.html %}
  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{site.baseurl}}/public/css/poole.css">
  <link rel="stylesheet" href="{{site.baseurl}}/public/css/syntax.css">
  <link rel="stylesheet" href="{{site.baseurl}}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{site.baseurl}}/public/css/jsblogs.css">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

  <link rel="jsblog" sizes="144x144" href="{{ '/public/images/favicon.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/public/images/jsblogs.png' | absolute_url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

  {% if site.owner.google.analytics %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.owner.google.analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</head>
